@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap");

body {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  background-color: hsl(1, 1%, 95%);
}

.container {
  margin: 10px;
  margin-top: 30px;
  margin-left: 40px;
  height: 80vh;
  width: 190vh;
  background-color: hsl(1, 1%, 92%);
  border-radius: 10px;
  padding: 15px;
}
.logo {
  margin: 13px;
  margin-top: 0;
}
#img-logo {
  height: 80px;
  width: 80px;
}
/* play zone */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 60vh;
}
.grid-container > .player > img,
.grid-container > .computer > img {
  margin: 10px;
  height: 230px;
  width: 230px;
}
.player-options {
  display: flex;
  margin: 10px;
  justify-content: space-around;
}
.player-options > span {
  cursor: pointer;
}
.player-options > span:hover {
  background-color: hsla(2, 55%, 53%, 0.1);
  font-size: 1.3rem;
  border-radius: 30%;
}

/* game score */
.scores > .win-lose {
  margin: 20px;
  padding: 30px;
}

.score-count {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
