@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap");

body {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  background-color: hsl(1, 1%, 95%);
}

.container {
  margin-top: 50px;
  margin-left: 110px;
  height: 70vh;
  width: 150vh;
  background-color: hsl(1, 1%, 92%);
  border-radius: 10px;
  padding: 30px;
}

p {
  font-weight: bolder;
  font-style: italic;
  margin: 30px;
}

.score {
  margin: 30px;
}

.finish {
  font-size: 4rem;
}

.unvisible {
  display: none;
}
.reload-page {
  display: block;
  position: absolute;
  left: 590px;
  border: 1px solid hsl(1, 0%, 80%);
  padding: 4px 9px;
  color: hsl(0, 0%, 13%);
}
.reload-page:hover {
  background-color: hsl(1, 0%, 80%);
  transition: 0.3s;
}

a {
  text-decoration: none;
  color: hsl(1, 2%, 45%);
}
